<div class="container">
  <div class="container__container-fluid">
    <h2 class="container-fuid__title">¿Olvidaste tu Contraseña?</h2>
    <p class="container-fuid__text">
      No te preocupes ingresa tu correo aqui y te enviaremos un link para que puedas resetear tu contraseña
    </p>
    <form action="" class="container-fuid__form" novalidate [formGroup]="formSendEmail" (ngSubmit)="sendEmail()">
      <fieldset class="form__control">
        <input type="email" placeholder="Correo" class="form__input" id="email_id" formControlName="email">
        <div class="form__container-errors" *ngIf="email.invalid && (email.dirty || email.touched)">
          <span class="form__errors" *ngIf="email.getError('required')">Este campo es requerido</span>
          <span class="form__errors" *ngIf="email.getError('email')">Tiene que ingresar un correo valido</span>
          <span class="form__errors" *ngIf="email.getError('maxlength')">Tiene que ser maximo de 255 caracteres</span>
        </div>
      </fieldset>
      <button type="submit" class="form__btn">Enviar <i class='bx bx-mail-send bx-sm'></i></button>
      <a href="" [routerLink]="['/auth/login']" class="form__link">Ya recorde mi contraseña</a>
    </form>
  </div>
</div>
