.pie-pagina{
  background-color: #9bc0ff;
  padding: 30px 20px 20px 20px;

  .container-links{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px;
    justify-content: center;

    a{

      text-decoration: none;
      margin: 10px 30px;
      font-size: 18px;
    }
  }

  .container-botton-footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .container-redessociales{
      text-align: center;
      a{
        margin: 0 20px;
      }
    }
    p{
      font-size: 17px;
      color: rgb(41, 109, 77);
      font-weight: 900;
    }
  }
}

@media (max-width: 560px) {
  .pie-pagina{

    .container-links{

      a{
        padding: 2px;
      }
    }

    .container-botton-footer{
      display: block;
      .container-redessociales{
        margin-bottom: 30px;
      }

      p{
        text-align: center;
      }
    }
  }
}
