$menuBreakpoint: 970px;
$menuHeight: 60px;

#navbar{
  background-color: #9bc0ff;
  height: $menuHeight;
  padding: 0 20px;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  width: 100%;

  .contanier-navbar{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .contianer-logo{
      a{
        text-decoration: none;
        span{
          font-size: 24px;
          font-weight: 900;
          color: rgb(45, 173, 113);
        }
      }
    }

    .container-btn-menu{
      display: none;
      cursor: pointer;

      .btn{
        padding: 5px;
        margin: 0 8px;
      }

      i{
        color: #FFFFFF;
      }

      @media (max-width: $menuBreakpoint){
        display: block;
      }
    }

    .menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: $menuBreakpoint){
        display: none;

        &.is-open{
          display: block;
          position: absolute;
          top: $menuHeight;
          background-color: #F4F4F4;
          left: 0;
          width: 100%;

          .menu-item::after{
            height: 0;
          }

          .menu-item:hover{
            color: #9bc0ff;
          }

          .menu-item{
            border-bottom: 1px solid #A2A2A2;
            color: #000000;
            line-height: $menuHeight;
            padding: 0;
          }
        }
      }
      .buttons{
        margin-left: 15px;
        height: $menuHeight;
        line-height: $menuHeight;
        display: block;
        color: #FFFFFF;

        .btn-sesion{
          padding: 7px 10px;
          font-size: 15px;
          background-color: rgba(34, 203, 44, 0.8);
          border: none;
          border-radius: 10px;
          color: #F0F0F0;
          cursor: pointer;
          font-weight: 900;
        }

        .btn-sesion:hover{
          background-color: #4BB54A;
        }

        .btn-perfil{
          margin-top: 16px;

          background-color: #9bc0ff;
          border: none;
          border-radius: 50%;
          color: #F0F0F0;
          font-weight: 900;
          cursor: pointer;
        }

        @media screen and (max-width: $menuBreakpoint){

          .btn-perfil{
            margin-top: 1px;
            padding: 7px;
            border-radius: 0;
            background-color: #3498DB;

            label::before{
              content: 'Perfil';
              font-size: 17px;
            }
          }
        }
      }

      .menu-item{
        margin: 0 10px;
        cursor: pointer;
        height: $menuHeight;
        padding: 20px 0;
        display: block;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 600;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

        @media (max-width: $menuBreakpoint){
          height: 50px;
          line-height: 50px;
        }
      }

      .menu-item::after{
        content: '';
        display: block;
        background-color: rgb(45, 173, 113);
        width: 100%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .3s;
      }

      .menu-item:hover{
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }
}
