<div class="container-message" *ngIf="!items.length">
  <div>
    <p class="message">
      No tienes productos en el carrito
    </p>
    <button type="button" class="btn-return-home" [routerLink]="['/home']">Volver al Inicio</button>
  </div>
</div>

<div class="container-cart" *ngIf="items.length">
  <div class="container-products">
    <div>
      <div class="container-title">
        <p class="title">Carro</p>
        <div>|</div>
        <p class="quantity-products"> {{cart.total_products}} Productos</p>
      </div>
      <div class="container-product" *ngFor="let item of items">
        <article class="article">
          <div>
            <header class="title-article">
              <p>{{item.product.name_product}}</p>
            </header>
            <div class="container-content-product">
              <div>
                <div class="btn-cart">
                  <button type="button" class="btn-res" (click)="substractProduct(item.product.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                      <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                  </button>
                  <p>{{item.quantity}}</p>
                  <button type="button" class="btn-sum" (click)="sumProduct(item.product.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                      <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </article>
        <div class="container-price-product">
          <div>
            <div class="price-product">${{item.price}}</div>
            <p>Precio Producto</p>
            <button type="button" class="btn-delete">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-btn-clear-cart">
      <button type="button" class="btn-clear-cart" (click)="clearCart()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
          <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        Limpiar Carrito
      </button>
    </div>
  </div>
  <div class="container-voucher">
    <div class="container-voucher-btn">
      <ul>
        <li>
          <p class="title-total">
            Total
          </p>
        </li>
        <li>
          <p class="price-total">
            Precio Total: {{cart.total}}
          </p>
        </li>
        <li>
          <div class="container-btn-voucher">
            <button type="button" class="btn-continue-voucher" [routerLink]="['/products']">Seguir Comprando</button>
            <button type="button" class="btn-voucher">
              Comprar
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
