.container-message{
  div{

    text-align: center;
    .message{

      font-size: 26px;
      margin-top: 100px;
    }
    .btn-return-home{

      margin-top: 30px;
      margin-bottom: 100px;
      padding: 12px 50px;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      background-color: #85C1E9;
      color: #F4F6F6;
      cursor: pointer;
    }
  }
}

.container-cart{

  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
  margin: 40px 10px;
  background-color: #FBFCFC;

  .container-products{
    div{
      .container-title{

        display: flex;
        border-bottom: 2px solid #D7DBDD;
        font-size: 18px;
        width: 98%;
        padding-bottom: 10px;

        .title{

          color: #28B463;
          font-size: 20px;
        }

        p{
          margin: 0 20px;
        }
      }

      .container-product{

        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .btn-delete{

          justify-self: right;
          grid-column: 2;
          grid-row: 1;
          margin: 10px 0;
          padding: 6px 26px;
          border: none;
          border-radius: 10px;
          background-color: #F1948A;
          color: #F7F9F9;
          cursor: pointer;

        }

        .btn-delete:hover{

          background-color: #EC7063;
          transition: 0.3s;
        }

        .article{

          grid-column: 1;
          grid-row: 2;

          div{
            .title-article{

              padding: 10px 0;
              font-size: 18px;
            }
            .container-content-product{

              .btn-cart{

                display: flex;
                align-items: center;

                .btn-res, .btn-sum{

                  padding: 4px 10px;
                  border: none;
                  background-color: #7DCEA0;
                  color: #F7F9F9;
                  border-radius: 10px;
                  cursor: pointer;

                }

                .btn-res:hover, .btn-sum:hover{

                  background-color: #28B463;
                  transition: 0.3s;
                }

                p{
                  padding: 0 10px;

                }
              }
            }
          }
        }

        .container-price-product{

          text-align: right;
          grid-column: 2;
          grid-row: 2;
        }
      }
    }
    .container-btn-clear-cart{

      margin: 20px 10px;

      .btn-clear-cart{

        padding: 6px 10px;
        background-color: #F1948A;
        border: none;
        font-size: 15px;
        color: #F7F9F9;
        border-radius: 10px;
        cursor: pointer;
      }

      .btn-clear-cart:hover{

        background-color: #EC7063;
        transition: 0.3s;
      }
    }
  }

  .container-voucher{

    background-color: #F4F6F6;
    .container-voucher-btn{

      padding: 10px;

      ul{
        list-style: none;

        li{

          .title-total{

            color: #28B463;
            font-size: 20px;
            margin: 10px 5px;
            border-bottom: 2px solid #D7DBDD;

          }

          .price-total{

            margin: 16px 0;
            font-size: 17px;
          }

          .container-btn-voucher{
            text-align: center;

            .btn-continue-voucher, .btn-voucher{

              width: 90%;
              margin-bottom: 16px;
              padding: 10px 0;
              border: none;
              cursor: pointer;
              font-size: 17px;
            }

            .btn-continue-voucher{

              background-color: #F4F6F6;
              border: 2px solid #7DCEA0;
              color: #7DCEA0;

            }

            .btn-continue-voucher:hover{

              background-color: #7DCEA0;
              color: #F4F6F6;
              transition: 0.3s;
            }

            .btn-voucher{

              background-color: #85C1E9;
              color: #F4F6F6;
            }

            .btn-voucher:hover{
              background-color: #3498DB;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }

}

@media screen and (  max-width: 760px) {
  .container-cart{
    grid-template-columns: none;

    .container-products{

      div{

        .container-title{

          justify-content: center;
          width: 100%;
          font-size: 18px;
          p{
            margin: 0 20px;
          }
        }
      }
    }
  }
}
