<div class="container">
  <div class="container__product">

    <div class="product__primary-info">
      <div class="product__images">
        <div class="images__primary-image">
          <img [src]="urlApi + product.image" alt="imagen del producto" height="500" *ngIf="product.image != ''">
        </div>
        <div class="images__other-images">
          <ul>
            <li>
              <a href=""></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="product__description-product">
        <h2 class="description-product__title">{{product.title}}</h2>
        <div class="description-product__stock">
          <p><strong>ID</strong> {{product.id_product}}</p>
          <p>Quedan {{product.stock}} unidades</p>
        </div>
        <hr>
        <div class="description-product__info">
          <p>Por {{product.brand}}</p>
          <div class="description-product__prices">
            <p class="prices__price">CLP {{product.price | number}}</p>
            <p class="prices__text">Precio de Referencia</p>
          </div>
          <div class="description-product__cart">
            <div class="description-product__container-add-cart">
              <button class="description-product__btn-add" (click)="sumQuantity()">
                +
              </button>
              <p class="description-product__quantity">{{quantity}}</p>
              <button class="description-product__btn-substract" (click)="subQuantity()">
                -
              </button>
            </div>
            <button class="description-product__btn-add-cart">Añadir al Carrito <i class='bx bxs-cart-add bx-sm'></i></button>
          </div>
        </div>
        <div class="description-product__description">
          <div class="description-product__tab">
            <button class="description-product__tablinks">Descripción</button>
            <button class="description-product__tablinks">Despacho</button>
            <button class="description-product__tablinks">Cambios y Devoluciones</button>
          </div>
          <div class="description-product__content">
            <p>{{product.description}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="product__similar-products">
      <h3>Productos Relacionados</h3>
      <div class="similar-products__products">
        <button class="similar-products__btn-previous">Previous</button>
        <div class="similar-products__container-list">

          <article class="similar-products__product">
            <img src="" alt="imagen del producto">
            <div class="product__body">
              <h2 class="product__title"></h2>
              <p class="product__price"></p>
              <p class="product__description"></p>
            </div>
          </article>
        </div>
        <button class="similar-products__btn-next">Next</button>
      </div>
    </div>
  </div>
</div>
