@import '/src/themes/variables.scss';

.container{

  width: 100%;
  padding: 4rem;

  .container__container-fluid{

    background-color: $color-light;
    box-shadow: 6px 10px 10px -8px rgba(0, 0, 0, 0.5);
    padding: 4rem 6rem;

    .container__title{

      color: $color-dark-800;
      margin-bottom: 1rem;
    }

    .container__container-text{

      margin-bottom: 1rem;
    }

    .container__form{

      .form__control{
        margin: 2rem 0;

        .form__text{

          margin-bottom: 0.3rem;
        }

        .form__input,
        .form__textarea{

          width: 70%;
          background-color: $color-light;
          border: 1px solid $color-dark-400;
          padding: 0.5rem;
          transition: all .3s ease-in-out;

        }

        .form__input:focus, .form__textarea:focus{

          border: 1px solid $color-dark-700;
          box-shadow: 0 0 8px $color-dark-300;
        }

        .form__container-errors{
          margin-top: 0.2rem;

          .form__errors{

            color: $color-danger;
          }
        }
      }

      .form__btn{

        padding: 0.6rem 2rem;
        background-color: $color-success-700;
        color: $color-light;
        transition: all .3s ease-in-out;

      }

      .form__btn:hover{

        background-color: $color-success-800;
      }
    }
  }
}

@media (max-width: 750px) {

  .container{

    padding: 5rem 1.6rem;
    .container__container-fluid{

      padding: 2rem;

      .container__title{
        text-align: center;
        padding-bottom: 1rem;
      }

      .container__form{

        .form__control{

          .form__input,
          .form__textarea{

            width: 100%;
          }
        }

        .form__btn{

          width: 100%;
        }
      }
    }
  }

}
