@import '/src/styles.scss';

.container{

  width: 100%;
  height: 100vh;
  min-width: 100%;
  background: linear-gradient(150deg, $color-primary-200, $color-primary);
  display: flex;
  align-items: center;

  .container__container-fluid{

    width: 30rem;
    margin: auto;
    padding: 2.4rem;
    background-color: $color-light;
    box-shadow: 5px 5px 10px -5px $color-title;

    .container-fuid__title{

      text-align: center;
      color: $color-title;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }

    .container-fuid__form{

      .form__control{
        margin-top: 2rem;

        .form__input{

          width: 100%;
          padding: 0.5rem;
          border: none;
          border-bottom: 2px solid $color-text;
        }

        .form__container-errors{

          .form__errors{
            margin-top: 0.3rem;
            color: $color-danger;
          }
        }

      }

      .form__buttons{

        .form__link, .form__parraf{
          margin: 1.4rem 0;
          color: $color-black;
          transition: all .3s ease-in-out;
        }

        .form__link:hover{
          color: $color-primary-600;
        }

        .form__parraf{
          text-align: center;
        }

        .form__btn{

          padding: 0.6rem 1rem;
          width: 100%;
          background-color: $color-primary;
          color: $color-light;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
          transition: all .3s ease-in-out;
        }

        .form__btn:hover{

          background-color: $color-primary-600;
        }

        .form__btn:active{

          background-color: $color-primary-700;
        }
      }
    }
  }
}
