<header class="encabesado">
  <h1>Bienvenido a Garden Store</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, perferendis tempora aspernatur vero iste ipsum, debitis voluptatem at praesentium inventore molestiae ab provident a officia labore, architecto consequuntur magnam dicta.</p>
</header>

<div class="nosotros">
  <div class="container-nosotros">
    <div class="image"></div>
    <div>
      <h2>Somos <span class="color-acent">Garden Store</span></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae sequi totam, perferendis similique reprehenderit, consequuntur ducimus, vero voluptatibus veniam repudiandae ratione adipisci tempore dolores. Laudantium nemo voluptas unde a?</p>
    </div>
  </div>
</div>

<div class="que-ofrecemos">
  <h2>¿Que Ofrecemos?</h2>
  <div class="container-ofresemos">
    <article class="carta" id="productosjardineria">
      <h3>Productos Jardineria</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti saepe sequi in quod asperiores fugiat doloremque, modi unde quos ea cumque earum praesentium iure incidunt placeat facere vel atque aliquid.</p>
    </article>
    <article class="carta" id="online">
      <h3>Ventas en Linea</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti saepe sequi in quod asperiores fugiat doloremque, modi unde quos ea cumque earum praesentium iure incidunt placeat facere vel atque aliquid.</p>
    </article>
    <article class="carta" id="descuentos">
      <h3>Descuentos y Subscripciones</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti saepe sequi in quod asperiores fugiat doloremque, modi unde quos ea cumque earum praesentium iure incidunt placeat facere vel atque aliquid.</p>
    </article>
    <article class="carta" id="despacho">
      <h3>Despacho a domicilio</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti saepe sequi in quod asperiores fugiat doloremque, modi unde quos ea cumque earum praesentium iure incidunt placeat facere vel atque aliquid.</p>
    </article>
  </div>
</div>
