<div class="form-reset-password">
  <h2>Cambiar Contraseña</h2>
  <p>Para reestableser su contraseña ingrese su correo electronico para enviarle un link para poder reestableser su contraseña</p>
  <form class="formulario-reset" novalidate [formGroup]="formularioEmail" (ngSubmit)="enviarCorreo()">
    <fieldset>
      <input type="email" name="" id="" class="input-form" placeholder="Email" formControlName="email">
      <div class="container-messages-errors" *ngIf="email.invalid && (email.dirty || email.touched)">
        <span class="message-errors" *ngIf="email.errors.required">Este campo es requerido</span>
        <span class="message-errors" *ngIf="email.errors.email">Tiene que ingresar un correo valido</span>
      </div>
    </fieldset>
    <button type="submit">Enviar</button>
  </form>
  <a [routerLink]="['/auth/login']">Ya recorde mi contraseña</a>
</div>
