.form-reset-password{
  width: 90%;
  max-width: 480px;
  margin: 60px auto;
  text-align: center;
  margin-top: 60px;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

  h2{
    font-size: 30px;
    font-weight: 900;
  }
  p{
    padding: 20px 0;
  }

  .formulario-reset{
    fieldset{

      border: none;

      .input-form{
        padding: 6px;
        font-size: 16px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #4d4d4d;
      }
      .container-messages-errors{
        text-align: left;
        padding: 1px;
        .message-errors{
          color: #FF2D2D;
        }
      }
    }

    button{
      margin: 20px 0;
      padding: 10px;
      width: 100%;
      font-size: 17px;
      background-color: #5EB6F0;
      color: #FFFFFF;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    button:hover{
      background-color: #5EE164;
      transition: .3s ease-in-out;
    }

  }
  a{
    text-decoration: none;
  }

}
