@import '/src/themes/variables.scss';

.modoOscuro{

  background: $color-dark !important;
  color: $color-light !important;
}

.modeDarkBtn{

  color: $color-light !important;
  border: 1px solid $color-light !important;
}

.navbar{

  width: 100%;
  background-color: $color-light;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.2);
  padding: 1.2rem 0;

  .navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70rem;

    @media screen and (max-width: 1200px) {
      width: 90%;
    }

    .navbar__btn-op-menu,
    .navbar__btn-cl-menu{
      display: none;
      border: none;
      background-color: $color-light;
    }

    .navbar__container-right.visible{
      left: 0;
    }

    .navbar__container-right{

      .navbar__list{

        display: flex;

        .navbar__icon{
          margin-right: 1.2rem;
        }

        .navbar__item{
          margin: 0 0.6rem;
          color: $color-dark;
          --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
          font-size: 1rem;
          font-weight: bold;

          .navbar__link{

            display: flex;

            .navbar__item-icon{
              font-size: 1.4rem;
            }
          }

        }

        .navbar__item::after{
          content: '';
          display: block;
          background-color: $color-dark;
          width: 100%;
          margin-top: 0.1rem;
          height: 3px;
          clip-path: var(--clippy);
          transition: clip-path .3s;
        }

        .navbar__item:hover{
          --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }

    .navbar__container-left{

      .navbar__container-btns{

        display: flex;

        .navbar__btn-login{

            padding: 0.5rem 1rem;
            background-color: $color-dark;
            color: $color-light;
            border-radius: 0.4rem;
            font-size: 0.9rem;
            transition: all .3s ease-in-out;
        }

        .navbar__btn-login:hover{

          background-color: $color-dark-800;
        }
        .navbar__container-login{

          display: flex;

          .navbar__btn-profile,
          .navbar__btn-cart{

            padding: 0.5rem 0;
            font-weight: 900;
            margin-left: 1rem;
            background-color: $color-light;
            color: $color-dark;
            display: flex;
            align-items: center;

            i{
              font-size: 1.4rem;
            }
          }

        }


        .navbar__btn-theme{

          border: none;
          background-color: $color-light;
          display: flex;
          align-items: center;
          margin-left: 1.2rem;
          cursor: pointer;
        }
      }
    }
  }

}


@media (max-width: 750px){

  .navbar{

    .navbar__container{

      .navbar__btn-op-menu,
      .navbar__btn-cl-menu{
        display: block;
      }

      .navbar__container-right{

        position: fixed;
        z-index: 20;
        top: 0;
        width: 80%;
        left: -100%;
        height: 100%;
        background-color: $color-light;
        transition: all .5s ease-in-out;
        padding: 1rem;
        box-shadow: 4px 0 10px -8px rgba(0, 0, 0, 0.8);

        .navbar__list{
          flex-direction: column;

          .navbar__icon{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            width: 100%;
          }

          .navbar__item{

            .navbar__link{

              margin: 0.3rem 0;
              padding: 1rem;
              transition: all .3s ease-in-out;
            }

            .navbar__link:hover{

              background-color: $color-dark;
              color: $color-light;
            }
          }

          .navbar__item::after{
            display: none;

          }
        }
      }
    }
  }
}
