<div class="container">

  <section class="container__statistics">

    <h3 class="statistics__title">Estadísticas <i class='bx bxs-objects-vertical-bottom'></i></h3>

    <div class="statistics__container">
      <div class="statitics__card">
        <div class="card__container-icon">
          <i class='bx bxs-user card__icon'></i>
        </div>
        <div class="card__content">

          <p class="card__number">200</p>
          <p class="card__text">Usuarios Totales</p>
        </div>
      </div>
      <div class="statitics__card">
        <div class="card__container-icon">
          <i class='bx bxs-user card__icon'></i>
        </div>
        <div class="card__content">

          <p class="card__number">200</p>
          <p class="card__text">Usuarios Totales</p>
        </div>
      </div>
      <div class="statitics__card">
        <div class="card__container-icon">
          <i class='bx bxs-user card__icon'></i>
        </div>
        <div class="card__content">

          <p class="card__number">200</p>
          <p class="card__text">Usuarios Totales</p>
        </div>
      </div>
    </div>
  </section>
  <section class="container__table-orders">

    <h3 class="container__table-title">Ordenes Recientes</h3>
    <table class="container__table">
      <thead>
        <tr>
          <th>
            Usuario
          </th>
          <th>
            Fecha
          </th>
          <th>
            Estado
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Juan890
          </td>
          <td>
            13-05-2020
          </td>
          <td>
            Entregado
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
