<div class="container">
  <div class="container__container-fluid">
    <h2 class="container-fuid__title">Resetear Contraseña <i class='bx bx-reset'></i></h2>
    <div class="container-fuid__messages">
      <p class="messages__message">Su contraseña no puede ser completamente numérica.</p>
      <p class="messages__message">Su contraseña debe contener al menos 8 caracteres.</p>
      <p class="messages__message">Su contraseña no puede ser una clave utilizada comúnmente.</p>
    </div>
    <form action="" class="container-fuid__form" novalidate [formGroup]="formResetPassword" (ngSubmit)="resetPassword()">
      <fieldset class="form__control">
        <input type="password" placeholder="Contraseña" class="form__input" id="password_id" formControlName="new_password">
        <div class="form__container-errors" *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)">
          <span class="form__errors" *ngIf="new_password.errors.required">Este campo es requerido</span>
          <span class="form__errors" *ngIf="new_password.errors.minlength">Tiene que ser minimo de 8 caracteres</span>
          <span class="form__errors" *ngIf="new_password.errors.maxlength">Tiene que ser maximo de 32 caracteres</span>
        </div>
      </fieldset>
      <fieldset class="form__control">
        <input type="password" placeholder="Confirmar Contraseña" class="form__input" id="re_password_id" formControlName="re_new_password">
        <div class="form__container-errors" *ngIf="re_new_password.invalid && (re_new_password.dirty || re_new_password.touched)">
          <span class="form__errors" *ngIf="re_new_password.errors.required">Este campo es requerido</span>
          <span class="form__errors" *ngIf="re_new_password.errors.minlength">Tiene que ser minimo de 8 caracteres</span>
          <span class="form__errors" *ngIf="re_new_password.errors.maxlength">Tiene que ser maximo de 32 caracteres</span>
        </div>
      </fieldset>
      <span *ngIf="password_validated">Las contraseñas no coinciden</span>
      <span *ngFor="let message of get_service.message_error_password">
        {{message}}
      </span>
      <button type="submit" class="form__btn">Confirmar</button>
    </form>
  </div>
</div>
