<div class="container-title">
  <div class="title">
    <h1>
      Productos en Oferta
    </h1>
  </div>
  <div class="container-products">

    <h2 class="message-title" *ngIf="servicio.activateMessageOffer">No tenemos productos con oferta registrados</h2>

    <article class="product" *ngFor="let product of servicio.listProductsOffer">
      <div class="header-product">
        <img [src]="product.image" alt="image product">
      </div>
      <div class="body-product">
        <h2>
          {{product.name_product}}
        </h2>
        <ul>
          <li>
            Precio: ${{product.price}}
          </li>
          <li>
            Stock: {{product.stock}}
          </li>
          <li>
            Categoria: {{product.id_category}}
          </li>
          <li>
            <p>
              Descripcion: {{product.description}}
            </p>
          </li>
        </ul>
        <button type="button" [routerLink]="['product/', product.slug]">Ver</button>
      </div>
    </article>
  </div>

</div>
